<!DOCTYPE html>
<html>
  <head>
    <title>Uniqsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Martel&display=swap" rel="stylesheet">
    <%= favicon_link_tag 'favicon.png' %>
    <script type="text/javascript">
      window.brentURL = "<%= image_url('samplesmall.jpg') %>";
    </script>
    <script type="text/javascript">
      window.searchURL = "<%= image_url('search-icon.png') %>";
    </script>
    <script type="text/javascript">
      window.cartURL = "<%= image_url('shopping-cart.png') %>";
      window.ringURL = "<%= image_url('engagement-rings.jpg') %>";
      window.cardURL = "<%= image_url('greeting-cards.jpg') %>";
      window.accessoryURL = "<%= image_url('leather-accessories.jpg') %>";
      window.necklaceURL = "<%= image_url('necklaces.jpg') %>";
      window.giftURL = "<%= image_url('personalized-gift.jpg') %>";
      window.wreathURL = "<%= image_url('wreaths.jpg') %>";
      window.blueCircleURL = "<%= image_url('blue-circle.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
